<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Stock Car"/>
        <meta name="author" content="João Paulo Siqueira"/>
        <title>Escritórios</title>
        <link rel="icon" href="resources/images/favicon.ico" th:href="@{/resources/images/favicon.ico}"/>
        <link rel="stylesheet" href="resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="resources/css/css.css" th:href="@{/resources/css/css.css}" />
    </head>
    <body>
        <nav th:replace="fragments/navbar :: navbar"/>
        <div id="container" class="ajusta-navbar">
            <div class="container-fluid">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <label th:text="Dashboard"/>
                    </div>
                    <div class="panel-body">
                        <form action="#" th:action="@{/escritorios}" th:object="${dashboad}" method="POST">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <div class="form-inline">
                                        <label for="ano">Ano: </label>
                                        <input type="number" id="ano" th:field="${dashboad.ano}" th:value="${dashboad.ano}"/>
                                        <button class="btn btn-primary" type="submit" name="action" value="submit" >Consultar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="col-sm-12">
                            <canvas id="myChart" height="400" width="900"></canvas>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <label th:text="Relatórios"/>
                    </div>
                    <div class="panel-body">
                        <form action="#" th:action="@{/escritorios/relatorio-vendas}" th:object="${relatorioDto}" method="post" target="_blank">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label>Relatório de Vendas por Escritório</label>
                                    <div class="form-inline">
                                        <label for="codEscritorio">Código Escritório</label>
                                        <select class="form-control" id="codEscritorio" th:field="${relatorioDto.codigoEscritorio}">
                                            <option th:each="escritorio : ${page.content}" th:value="${escritorio.codigoEscritorio}" th:text="${escritorio.cidade}+' - '+${escritorio.pais}">Escritório</option>
                                        </select>
                                        <label for="dataIni">Data Inicial</label>
                                        <input type="date" id="dataIni" th:field="${relatorioDto.dataInicial}" required/>
                                        <label for="dataFim">Data Final</label>
                                        <input type="date" id="dataFim" th:field="${relatorioDto.dataFinal}" required/>
                                        <button class="btn btn-primary" type="submit" name="action" value="submit" >Gerar Relatório</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <label th:text="Escritórios"/>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-condensed table-hover table-striped">
                                <thead>
                                    <th>Código do Escritório</th>
                                    <th>Cidade</th>
                                    <th>Telefone</th>
                                    <th>Endereço 1</th>
                                    <th>Endereço 2</th>
                                    <th>Estado</th>
                                    <th>País</th>
                                    <th>Código Postal</th>
                                    <th>Território</th>
                                </thead>
                                <tbody>
                                    <tr th:if="${page.content == null}">
                                        <td colspan="9">Nenhum Escritório Encontrado!</td>
                                    </tr>
                                    <tr th:if="${page.content != null}" th:each="escritorio : ${page.content}">
                                        <td th:text="${escritorio.codigoEscritorio}">Código do Escritório</td>
                                        <td th:text="${escritorio.cidade}">Cidade</td>
                                        <td th:text="${escritorio.telefone}">Telefone</td>
                                        <td th:text="${escritorio.endereco1}">Endereço 1</td>
                                        <td th:text="${escritorio.endereco2}">Endereço 2</td>
                                        <td th:text="${escritorio.estado}">Estado</td>
                                        <td th:text="${escritorio.pais}">País</td>
                                        <td th:text="${escritorio.codigoPostal}">Código Postal</td>
                                        <td th:text="${escritorio.territorio}">Território</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="table-pagination text-center">
                    <ul class="pagination">
                        <li th:class="${page.firstPage}? 'disabled' : ''">
                            <span th:if="${page.firstPage}">← First</span>
                            <a th:if="${not page.firstPage}" th:href="@{${page.url}(page=0,size=${page.size})}">← First</a>
                        </li>
                        <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                            <span th:if='${not page.hasPreviousPage}'>«</span>
                            <a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page=${page.number-2},size=${page.size})}' title='Go to previous page'>«</a>
                        </li>
                        <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
                            <span th:if='${item.current}' th:text='${item.number}'>1</span>
                            <a th:if='${not item.current}' th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span th:text='${item.number}'>1</span></a>
                        </li>
                        <li th:class="${page.hasNextPage}? '' : 'disabled'">
                            <span th:if='${not page.hasNextPage}'>»</span>
                            <a th:if='${page.hasNextPage}' th:href='@{${page.url}(page=${page.number},size=${page.size})}' title='Go to next page'>»</a>
                        </li>
                        <li th:class="${page.lastPage}? 'disabled' : ''">
                            <span th:if='${page.lastPage}'>Last →</span>
                            <a th:if='${not page.lastPage}' th:href='@{${page.url}(page=${page.totalPages-1},size=${page.size})}'>Last →</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <script src="resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
        <script src="resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
        <script src="resources/js/Chart.min.js" th:src="@{/resources/js/Chart.min.js}"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var janeiro = /*[[${janeiro}]]*/ 0.0;
            var fevereiro = /*[[${fevereiro}]]*/ 0.0;
            var marco = /*[[${marco}]]*/ 0.0;
            var abril = /*[[${abril}]]*/ 0.0;
            var maio = /*[[${maio}]]*/ 0.0;
            var junho = /*[[${junho}]]*/ 0.0;
            var julho = /*[[${julho}]]*/ 0.0;
            var agosto = /*[[${agosto}]]*/ 0.0;
            var setembro = /*[[${setembro}]]*/ 0.0;
            var outubro = /*[[${outubro}]]*/ 0.0;
            var novembro = /*[[${novembro}]]*/ 0.0;
            var dezembro = /*[[${dezembro}]]*/ 0.0;
            var meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'];
            var dados = [ janeiro, fevereiro, marco, abril, maio, junho, julho, agosto, setembro, outubro, novembro, dezembro ];
            var option = {
                animation: {
                    duration:5000
                },
                 responsive: false,
                maintainAspectRatio: false
            };
            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: meses,
                    datasets: [{
                        label: 'Vendas Mensais',
                        backgroundColor: 'rgba(26,179,148,0.5)',
                        pointBorderColor: 'rgba(26,179,148,1)',
                        pointBackgroundColor: "#fff", 
                        data: dados
                    }]
                }, 
                options: option
            });
            /*]]>*/
        </script>
    </body>
</html>