<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Stock Car"/>
        <meta name="author" content="João Paulo Siqueira"/>
        <title>Clientes</title>
        <link rel="icon" href="resources/images/favicon.ico" th:href="@{/resources/images/favicon.ico}"/>
        <link rel="stylesheet" href="resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="resources/css/css.css" th:href="@{/resources/css/css.css}" />
    </head>
    <body>
        <nav th:replace="fragments/navbar :: navbar"/>
        <div id="container" class="ajusta-navbar">
            <div class="container-fluid">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <label th:text="Clientes"/>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-condensed table-hover table-striped">
                                <thead>
                                    <th>Nº Cliente</th>
                                    <th>Nome Cliente</th>
                                    <th>Telefone</th>
                                    <th>Endereço 1</th>
                                    <th>Endereço 2</th>
                                    <th>Cidade</th>
                                    <th>Estado</th>
                                    <th>Código Postal</th>
                                    <th>País</th>
                                    <th>Limite de Crédito</th>
                                    <th>Código Vendedor</th>
                                </thead>
                                <tbody>
                                    <tr th:if="${page.content == null}">
                                        <td colspan="13">Nenhum Cliente Encontrado!</td>
                                    </tr>
                                    <tr th:if="${page.content != null}" th:each="cliente : ${page.content}">
                                        <td th:text="${cliente.numeroCliente}">Número Cliente</td>
                                        <td th:text="${cliente.nomeCliente}">Nome Cliente</td>
                                        <td th:text="${cliente.telefone}">Telefone</td>
                                        <td th:text="${cliente.endereco1}">Endereço 1</td>
                                        <td th:text="${cliente.endereco2}">Endereço 2</td>
                                        <td th:text="${cliente.cidade}">Cidade</td>
                                        <td th:text="${cliente.estado}">Estado</td>
                                        <td th:text="${cliente.codigoPostal}">Código Postal</td>
                                        <td th:text="${cliente.pais}">País</td>
                                        <td th:text="${cliente.limiteCredito}">Limite de Crédito</td>
                                        <td th:text="${cliente.empregado != null} ? ${cliente.empregado.numeroEmpregado} : 0">Código Vendedor</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="table-pagination text-center">
                    <ul class="pagination">
                        <li th:class="${page.firstPage}? 'disabled' : ''">
                            <span th:if="${page.firstPage}">← First</span>
                            <a th:if="${not page.firstPage}" th:href="@{${page.url}(page=0,size=${page.size})}">← First</a>
                        </li>
                        <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                            <span th:if='${not page.hasPreviousPage}'>«</span>
                            <a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page=${page.number-2},size=${page.size})}' title='Go to previous page'>«</a>
                        </li>
                        <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
                            <span th:if='${item.current}' th:text='${item.number}'>1</span>
                            <a th:if='${not item.current}' th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span th:text='${item.number}'>1</span></a>
                        </li>
                        <li th:class="${page.hasNextPage}? '' : 'disabled'">
                            <span th:if='${not page.hasNextPage}'>»</span>
                            <a th:if='${page.hasNextPage}' th:href='@{${page.url}(page=${page.number},size=${page.size})}' title='Go to next page'>»</a>
                        </li>
                        <li th:class="${page.lastPage}? 'disabled' : ''">
                            <span th:if='${page.lastPage}'>Last →</span>
                            <a th:if='${not page.lastPage}' th:href='@{${page.url}(page=${page.totalPages-1},size=${page.size})}'>Last →</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <script src="resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
        <script src="resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    </body>
</html>