<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Stock Car"/>
        <meta name="author" content="João Paulo Siqueira"/>
        <title>Pedidos</title>
        <link rel="icon" href="resources/images/favicon.ico" th:href="@{/resources/images/favicon.ico}"/>
        <link rel="stylesheet" href="resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="resources/css/css.css" th:href="@{/resources/css/css.css}" />
    </head>
    <body>
        <nav th:replace="fragments/navbar :: navbar"/>
        <div id="container" class="ajusta-navbar">
            <div class="container-fluid">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <label th:text="Pedidos"/>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-condensed table-hover table-striped">
                                <thead>
                                    <th>Número do Pedido</th>
                                    <th>Data do Pedido</th>
                                    <th>Data Requerida</th>
                                    <th>Data de Envio</th>
                                    <th>Status do Pedido</th>
                                    <th>Comentário</th>
                                    <th>Número do Cliente</th>
                                </thead>
                                <tbody>
                                    <tr th:if="${page.content == null}">
                                        <td colspan="7">Nenhum Pedido Encontrado!</td>
                                    </tr>
                                    <tr th:if="${page.content != null}" th:each="pedido : ${page.content}">
                                        <td th:text="${pedido.numeroPedido}">Número do Pedido</td>
                                        <td th:text="${#calendars.format(pedido.dataPedido,'dd/MM/yyyy')}">Data do Pedido</td>
                                        <td th:text="${#calendars.format(pedido.dataRequerida,'dd/MM/yyyy')}">Data Requerida</td>
                                        <td th:text="${#calendars.format(pedido.dataEnvio,'dd/MM/yyyy')}">Data de Envio</td>
                                        <td th:text="${pedido.statusPedido}">Status dp Pedido</td>
                                        <td th:text="${pedido.comentario}">Comentário</td>
                                        <td th:text="${pedido.cliente.numeroCliente}">Número do Cliente</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="table-pagination text-center">
                    <ul class="pagination">
                        <li th:class="${page.firstPage}? 'disabled' : ''">
                            <span th:if="${page.firstPage}">← First</span>
                            <a th:if="${not page.firstPage}" th:href="@{${page.url}(page=0,size=${page.size})}">← First</a>
                        </li>
                        <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                            <span th:if='${not page.hasPreviousPage}'>«</span>
                            <a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page=${page.number-2},size=${page.size})}' title='Go to previous page'>«</a>
                        </li>
                        <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
                            <span th:if='${item.current}' th:text='${item.number}'>1</span>
                            <a th:if='${not item.current}' th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span th:text='${item.number}'>1</span></a>
                        </li>
                        <li th:class="${page.hasNextPage}? '' : 'disabled'">
                            <span th:if='${not page.hasNextPage}'>»</span>
                            <a th:if='${page.hasNextPage}' th:href='@{${page.url}(page=${page.number},size=${page.size})}' title='Go to next page'>»</a>
                        </li>
                        <li th:class="${page.lastPage}? 'disabled' : ''">
                            <span th:if='${page.lastPage}'>Last →</span>
                            <a th:if='${not page.lastPage}' th:href='@{${page.url}(page=${page.totalPages-1},size=${page.size})}'>Last →</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <script src="resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
        <script src="resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    </body>
</html>