<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Stock Car"/>
        <meta name="author" content="João Paulo Siqueira"/>
        <title>Login</title>
        <link rel="icon" href="resources/images/favicon.ico" th:href="@{/resources/images/favicon.ico}"/>
        <link rel="stylesheet" href="resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="resources/css/signin.css" th:href="@{/resources/css/signin.css}" />
    </head>
    <body>
        <div id="container">
            <form class="form-signin" role="form" accept-charset="UTF-8" method="post" th:action="@{/login/check}">
                <h3>
                    <span class="label label-danger" th:if="${error != null}" th:text="'Usuário ou Senha Inválidos!'" />
                    <span class="label label-success" th:if="${logout != null}" th:text="'Logout Realizado Com Sucesso'" />
                </h3>
                <h2 class="form-signin-heading">Please Login in</h2>
                <label for="username" class="sr-only" th:text="'Email address'" />
                <input class="form-control" id="username" name="username" type="email"  placeholder="Email address" required autofocus>
                <label for="password" class="sr-only" th:text="Password" />
                <input class="form-control" id="password" name="password" type="password" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="'Login in'" />
            </form>
        </div>
        <script src="resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
        <script src="resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    </body>
</html>