<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Stock Car"/>
        <meta name="author" content="João Paulo Siqueira"/>
        <title>Relacionar Permissões</title>
        <link rel="icon" href="resources/images/favicon.ico" th:href="@{/resources/images/favicon.ico}"/>
        <link rel="stylesheet" href="resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="resources/css/css.css" th:href="@{/resources/css/css.css}" />
    </head>
    <body>
        <nav th:replace="fragments/navbar :: navbar"> </nav>
        <div id="container" class="ajusta-navbar">
            <div class="container-fluid">
                <form action="#" th:action="@{/system/permission/save}" th:object="${permission}" method="POST">
                    
                    <select th:field="${permission.idUser}">
                        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.email}">E-Mail</option>
                    </select>
                    
                    <select th:field="${permission.idModule}">
                        <option th:each="module : ${modules}" th:value="${module.id}" th:text="${module.category}+' / '+${module.name}">Módulo</option>
                    </select>
                    
                    <span th:text="READ" /><input type="checkbox" th:checked="${permission.read}" th:field="${permission.read}" />
                    <span th:text="ADD" /><input type="checkbox" th:checked="${permission.add}" th:field="${permission.add}" />
                    <span th:text="EDIT" /><input type="checkbox" th:checked="${permission.edit}" th:field="${permission.edit}" />
                    <span th:text="DELETE" /><input type="checkbox" th:checked="${permission.delete}" th:field="${permission.delete}" />
                    
                    <button type="submit" name="action" value="submit">Save</button>
                </form>
            </div>
        </div>
        <script src="resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
        <script src="resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    </body>
</html>