<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Stock Car"/>
        <meta name="author" content="João Paulo Siqueira"/>
        <title>Atualizar Permissões</title>
        <link rel="icon" href="resources/images/favicon.ico" th:href="@{/resources/images/favicon.ico}"/>
        <link rel="stylesheet" href="resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="resources/css/css.css" th:href="@{/resources/css/css.css}" />
    </head>
    <body>
        <nav th:replace="fragments/navbar :: navbar"> </nav>
        <div id="container" class="ajusta-navbar">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <form action="#" th:action="@{/system/module/update}" th:object="${module}" method="post">
                            <fieldset>
                                <input type="text" hidden="hidden" th:value="*{id}" th:field="*{id}" />
                                <div>
                                    <label th:text="'Nome'">Name</label>
                                    <div>
                                        <input type="text" th:value="*{name}" th:field="*{name}" />
                                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</p> 
                                    </div>
                                </div>
                                <div>
                                    <label th:text="'Categoria'">Category</label>
                                    <div>
                                        <input type="text" th:value="*{category}" th:field="*{category}" />
                                        <p th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Category error</p> 
                                    </div>
                                </div>
                            </fieldset>
                            <div>
                                <div>
                                    <button type="submit" name="action" value="submit">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
        <script src="resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    </body>
</html>