<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Stock Car"/>
        <meta name="author" content="João Paulo Siqueira"/>
        <title>NavBar</title>
        <link rel="icon" href="resources/images/favicon.ico" th:href="@{/resources/images/favicon.ico}"/>
        <link rel="stylesheet" href="resources/css/bootstrap.min.css" th:href="@{/resources/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="resources/css/css.css" th:href="@{/resources/css/css.css}" />
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" th:href="@{/}" th:text="'Stock Car'" />
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/}" th:text="Home"/></li>
                        <li class="dropdown" sec:authorize="hasAnyRole('ROLE_SYSTEM_USER_READ', 'ROLE_SYSTEM_MODULE_READ', 'ROLE_SYSTEM_PERMISSION_READ')" >
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">System <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li sec:authorize="hasAnyRole('ROLE_SYSTEM_USER_READ')"><a href="#" th:href="@{/system/user}" th:text="'User'" /></li>
                                <li sec:authorize="hasAnyRole('ROLE_SYSTEM_MODULE_READ')"><a href="#" th:href="@{/system/module}" th:text="'Module'" /></li>
                                <li sec:authorize="hasAnyRole('ROLE_SYSTEM_PERMISSION_READ')"><a href="#" th:href="@{/system/permission}" th:text="'Permission'" /></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tabelas <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" th:href="@{/escritorios}" th:text="Escritório"/></li>
                                <li><a href="#" th:href="@{/empregados}" th:text="Empregados"/></li>
                                <li><a href="#" th:href="@{/clientes}" th:text="Clientes"/></li>
                                <li><a href="#" th:href="@{/pagamentos}" th:text="Pagamentos"/></li>
                                <li><a href="#" th:href="@{/pedidos}" th:text="Pedidos"/></li>
                                <li><a href="#" th:href="@{/produtos}" th:text="Produtos"/></li>
                                <li><a href="#" th:href="@{/detalhespedidos}" th:text="'Detalhes dos Pedidos'"/></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
                        <li>
                            <form class="navbar-form navbar-right" accept-charset="UTF-8" role="form" th:action="@{/logout}" method="post">
                                <button type="submit" class="btn btn-default" th:text="Logout">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <script src="resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
        <script src="resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    </body>
</html>